// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-ej-dictionary {
  font-size: 1.2em;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 8px;
  width: 100%;
}

.atom-ej-dictionary-meaning {
  max-height: 16em;
  overflow-y: scroll;
}

.atom-ej-dictionary-header {
  width: 100%;
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
}

.atom-ej-dictionary-hide-button {
  display: inline-block;
  padding: 4px;
  cursor: pointer;
  color: #84969e;
}

.atom-ej-dictionary-hide-button:hover {
  color: #abbfc7;
}
